# Core NLP
transformers>=4.40.0
datasets>=2.19.0
tokenizers>=0.19.0
spacy>=3.7.0
nltk>=3.8.0
sklearn>=1.4.0
torch>=2.7.0

# Data Processing
pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.4.0

# Environment
python-dotenv>=1.0.0

# Notebooks
jupyter>=1.0.0
ipykernel>=6.29.0

# Visualization
matplotlib>=3.8.0
seaborn>=0.13.0

# Utilities
tqdm>=4.66.0
pyyaml>=6.0.1
requests>=2.31.0

# RSS feed parsing
feedparser>=6.0.0

# yaml reader
pyyaml

# nlp core
newspaper3k
requests
beautifulsoup4
certifi
lxml[html_clean]